.container {
    margin-top: 50px;
    width: 600px;
}

option {
    width: 100px;
}


.chat-tabs {
    margin-top: 20px;
}

.userid {
    color: green;
}

.tab-pane {
    margin: 20px 0 0 5px;
    height: 100px;
    overflow: auto;
}

.chat-input {
    margin-top: 30px;
}